SetEnv PHP_VER 5
Options +FollowSymlinks
RewriteEngine on
AddDefaultCharset UTF-8

# ------ Réécriture index
RewriteRule ^accueil.htm$ index.php?&page=auth&spage=auth [L,QSA]
RewriteRule ^forwarding.htm$ index.php?&page=auth&spage=log_forward [L,QSA]

# ------ ADMIN
RewriteRule ^adm/addDivision.htm$ index.php?&page=adm&spage=add_division [L,QSA]
RewriteRule ^adm/addLesson.htm$ index.php?&page=adm&spage=add_lesson [L,QSA]
RewriteRule ^adm/addPeople.htm$ index.php?&page=adm&spage=add_people [L,QSA]
RewriteRule ^adm/addSubject.htm$ index.php?&page=adm&spage=add_subject [L,QSA]
RewriteRule ^adm/indexAdmin.htm$ index.php?&page=adm&spage=index_admin [L,QSA]
RewriteRule ^adm/manageAbsence.htm$ index.php?&page=adm&spage=manage_absence [L,QSA]
RewriteRule ^adm/manageDivision.htm$ index.php?&page=adm&spage=manage_division [L,QSA]
RewriteRule ^adm/manageLesson.htm$ index.php?&page=adm&spage=manage_lesson [L,QSA]
RewriteRule ^adm/managePeople.htm$ index.php?&page=adm&spage=manage_people [L,QSA]
RewriteRule ^adm/managePeople-([0-9]+)-([0-9]+).htm$ index.php?&page=adm&spage=manage_people&v_id=$1&v_type=$2 [L,QSA]
RewriteRule ^adm/manageSubject.htm$ index.php?&page=adm&spage=manage_subject [L,QSA]
RewriteRule ^adm/modifyDivision.htm$ index.php?&page=adm&spage=modify_division [L,QSA]
RewriteRule ^adm/modifyLesson.htm$ index.php?&page=adm&spage=modify_lesson [L,QSA]
RewriteRule ^adm/managePeople.htm$ index.php?&page=adm&spage=manage_people [L,QSA]
RewriteRule ^adm/manageSubject.htm$ index.php?&page=adm&spage=manage_subject [L,QSA]
RewriteRule ^adm/modifyDivision.htm$ index.php?&page=adm&spage=modify_division [L,QSA]
RewriteRule ^adm/modifyLesson.htm$ index.php?&page=adm&spage=modify_lesson [L,QSA]
RewriteRule ^adm/modifyPeople-([0-9]+)-([0-9]+).htm$ index.php?&page=adm&spage=modify_people&v_id=$1&v_type=$2 [L,QSA]
RewriteRule ^adm/modifySubject.htm$ index.php?&page=adm&spage=modify_subject [L,QSA]
RewriteRule ^adm/modifySubject.htm$ index.php?&page=adm&spage=modify_subject [L,QSA]

# ------ TEACHER
RewriteRule ^tea/indexTeacher.htm$ index.php?&page=teacher&spage=index_teacher [L,QSA]
RewriteRule ^tea/manageAbsence.htm$ index.php?&page=teacher&spage=manage_absence [L,QSA]
RewriteRule ^tea/manageExercice.htm$ index.php?&page=teacher&spage=manage_exercice [L,QSA]
RewriteRule ^tea/manageLesson.htm$ index.php?&page=teacher&spage=manage_lesson [L,QSA]
RewriteRule ^tea/showStudents.htm$ index.php?&page=teacher&spage=show_students [L,QSA]

# ------ PUPIL
RewriteRule ^pup/indexPupil.htm$ index.php?&page=pupil&spage=index_pupil [L,QSA]
RewriteRule ^pup/showAbsence.htm$ index.php?&page=pupil&spage=show_absence [L,QSA]
RewriteRule ^pup/showLesson.htm$ index.php?&page=pupil&spage=show_lesson [L,QSA]