/* MAIN CSS */
body {
    /* alignment */
    text-align: center;
}

#header {
    /* image et taille */
    background-image: url(./design/images/bannierewebecole.jpg);
    width: 880px;
    height: 250px;
    
    /* positionnement */
    margin: auto;
}

/* titre dans le header */
#header_title {
    /* positionnement */
    position: relative;
    padding: 0;
    margin: 0;
    left: -100px;
    top: 100px;
    
    /* police */
    font: bold 72px Trebuchet MS;
    color: white;
    letter-spacing: -5px;
}

#header_login {
    /* polive */
    font: bold 14px Trebuchet MS;
    color: white;
    letter-spacing: 1px;
    
    /* positionnement */
    position: relative;
    top: 50%;
    left: -120px;
}

#footer {
    /* positionnement */
    text-align: center;
    height: 25px;
    width: 880px;
    background-color: #111111;
    border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px;
    clear: both;
    margin: auto;
    margin-top: 2px;
    
    /* police */
    color: white;
    font-size: 11px;
    letter-spacing: 2px;
    line-height: 25px;
    
    /* dégradé */
    background-image: linear-gradient(left bottom, rgb(184,178,180) 1%, rgb(0,0,0) 100%);
    background-image: -o-linear-gradient(left bottom, rgb(184,178,180) 1%, rgb(0,0,0) 100%);
    background-image: -moz-linear-gradient(left bottom, rgb(184,178,180) 1%, rgb(0,0,0) 100%);
    background-image: -webkit-linear-gradient(left bottom, rgb(184,178,180) 1%, rgb(0,0,0) 100%);
    background-image: -ms-linear-gradient(left bottom, rgb(184,178,180) 1%, rgb(0,0,0) 100%);

    background-image: -webkit-gradient(
            linear,
            left bottom,
            right top,
            color-stop(0.01, rgb(184,178,180)),
            color-stop(1, rgb(0,0,0))
    );
}

/* menus */
.sub_body {
    /* border */
    border-collapse: collapse;
    
    /* size */
    width: 880px;
    
    /* alignment */
    text-align: left;
}
.menu {
    /* size */
    width: 120px;
    
    /* alignment */
    padding: 0px;
    vertical-align: baseline;
}
.content_td {
    /* alignment */
    padding: 10px;
    padding-top: 0px;
    margin-top: 0px;
    vertical-align: top;
}

/* conteneur de chaque page */
#main_container {
    /* size */
    width: 880px;
    min-height: 210px;
    
    /* alignment */
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    
    /* border */
    border: 1px solid black;
    -moz-border-radius: 10px 40px 10px 40px;
    border-radius: 10px 40px 10px 40px;
}

/* message d'accueil */
.accueil_msg {
    /* alignment */
    text-align: justify;
    
    /* police */
    font-family: Calibri;
}

/* tableaux */
table {
    border-collapse: collapse;
    font-family: Calibri;
    
    width: 100%;
}
table caption {
    font: 20px Calibri;
    letter-spacing: 1px;
}
table th {
    font-weight: normal;
    font-style: italic;
    padding: 5px;
    background-color: #dfeeee;
    text-align: center;
}
table td {
    padding: 5px;
}

/* liens */
a {
    text-decoration: none;
    color: #424542;
}
a:hover {
    text-decoration: underline;
    color: #85a8a8;
}

/* formulaires */
form p {
}
.label_form {
}
.input_form {
}

/* AUTHENTIFICATION CSS */
#auth_fail {
    margin: 10px;
}
