<?xml version="1.0"?>
<pdomap>
    <!-- 
        Database adapters configuration        
    -->
    <database>
        <!-- MySQL adapter -->
        <adapter enabled="true" name="MySQL">
            <check type="mysql" />
            <check module="pdo_mysql" />
        </adapter>
        <!-- Microsoft SQL adapter -->
        <adapter enabled="false" name="MSSQL">
            <check type="mssql" />
            <check module="pdo_mssql" />
        </adapter>
        <!-- PostGre SQL adapter -->
        <adapter enabled="false" name="PgSQL">
            <check type="pgsql" />
            <check module="pdo_pgsql" />
        </adapter>
        <!-- SQLite adapter -->
        <adapter enabled="false" name="SQLite">
            <check type="sqlite" />
            <check module="pdo_sqlite" />
        </adapter>                     
    </database>
    <!-- Fields configuration -->
    <fields>
        <!-- The boolean adapter -->
        <field name="Boolean" enabled="true">
            <param name="trueKey" value="true" />
            <param name="falseKey" value="false" />
        </field>
        <!-- The char adapter -->
        <field name="Char" enabled="true">
            <param name="maxSize" value="255" />
        </field>        
        <!-- The datetime adapter -->
        <field name="Date" enabled="true">
            <param name="format" value="Y-m-d H:i:s" />
        </field>        
        <!-- The datetime adapter -->
        <field name="Enum" enabled="true" />              
        <!-- The file adapter -->
        <field name="File" enabled="false">
            <!-- 
                Defines if should use the file-system 
                or not 
            -->
            <param name="usefs" value="true" />
            <!-- 
                Define the directory where to save files 
                if usefs is enabled 
            -->
            <param name="directory" value="./uploads/" />
            <!-- 
                Defines the maximum file size to upload (use 0 to unlimit)
            -->
            <param name="maxsize" value="0" />
        </field>   
        <!-- The float numeric adapter -->
        <field name="Float" enabled="true" />   
        <!-- The foreign adapter -->
        <field name="Foreign" enabled="true" />           
        <!-- The integer adapter -->
        <field name="Integer" enabled="true">
            <!-- byte 1 -->
            <param name="tiny" value="8" />  
            <!-- byte 2 -->
            <param name="small" value="16" />
            <!-- byte 3 -->
            <param name="medium" value="24" />
            <!-- byte 4 -->
            <param name="normal" value="32" />
            <!-- byte 8 -->
            <param name="big" value="64" />
        </field>
        <!-- The primary key adapter -->
        <field name="Primary" enabled="true" />        
        <!-- The text adapter -->
        <field name="Text" enabled="true" />        
    </fields>     
    <!-- 
        Cache configuration :
        Adapter : you can specify and adapter, or let system chose the best
        one depending enabled modules.
        Set : adapter="*" for automatic search
        Set : adapter="File" to force using files adapter for example  
    -->
    <cache use="*">
        <!-- 
          Default parameters
        -->
        <params>
            <!-- Unique ID for website -->
            <param name="guid" value="global" />
            <!-- 
                Default timeout value 
                Use 0 to define that the is no timeout    
            -->
            <param name="timeout" value="0" />
        </params>
        <!--
            Defines the APC adapter to use high speed memory
        -->
        <adapter enabled="false" name="APC">
            <check module="apc" />
        </adapter>
        <!-- 
            Defines the memcache adapter is used a clustered system
        -->
        <adapter enabled="false" name="MemCache">
            <check module="memcache" />
            <params>
                <param name="server" value="localhost" />
                <param name="port" value="11211" />
            </params>
        </adapter>
        <!-- 
            automatically get file adapter 
            if others checks fails or are not enabled 
        -->
        <adapter enabled="true" name="File" />
    </cache>
</pdomap>